@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Сообщение</title>

</head>
<body>
    <div>
        <hr />
        <h3>@ViewBag.Massage</h3>
        <hr />
    </div>
</body>
</html>